In [1]:
#출력 : '환영합니다, 관리자님!' 또는 '등록되지 않은 사용자입니다.'
#입력 : ID와 PW
ID = input('ID를 입력하세요: ')
PW = input('PW를 입력하세요: ')
if ID == 'admin' and PW == '1234' :
    print('환영합니다, 관리자님!')
else:
    print('등록되지 않은 사용자입니다.')

ID를 입력하세요: 21312
PW를 입력하세요: 23
등록되지 않은 사용자입니다.

In [5]:
#시리얼을 대조하는 간단한 토이
#시리얼이 맞을 경우 '정상' 맞지 않을 경우 '비정상'이라고 출력되어야 한다.
serial_numbers = input("시리얼 넘버를 입력하세요: ")
if serial_numbers == '1111555'or serial_numbers == '2223322' or serial_numbers == '2521249' or serial_numbers == '8504037' :
    print('정상')
else:
    print('비정상')

시리얼 넘버를 입력하세요: 8504037
정상

In [10]:
#출력 : 학점 (영문 형태의 등급)
#입력 : 0이상 100이하의 시험점수
score = int(input('시험 점수를 입력하세요 : '))
if score >= 98:
    print('A')
elif score >= 95:
    print('B')
elif score >= 90:
    print('C')
elif score < 90:
    print('낙제')

시험 점수를 입력하세요 : 1
낙제

In [12]:
#조회수 100만 이상 Violet
#조회수 10만 이상 Blue
#조회수 1만 이상 Black

page_view = int(input('조회수를 입력하세요'))
if page_view >= 1000000 :
    print('Violet League')
elif page_view >= 100000 :
    print('Blue League')
elif page_view >= 10000 :
    print('Black League')
elif page_view < 10000 :
    print('No League')

조회수를 입력하세요10
No League

In [13]:
# 98점 이상이면 A
# 95점 이상이면 B
# 90점 이상이면 C
# 그 외 나머지는 F

score = int(input('당신의 성적을 입력하세요. : '))
if score >= 98 :
    print('A')
elif score >= 95 :
    print('B')
elif score >= 90 :
    print('C')
else:
    print('F')

당신의 성적을 입력하세요. : 55
F

In [14]:
#조회수 100만 이상 Violet
#조회수 10만 이상 Blue
#조회수 1만 이상 Black
#조회수 0 이상 Red

page_view = int(input('조회수를 입력하세요 : '))
if page_view >= 1000000 :
    print('Violet League')
elif page_view >= 100000 :
    print('Blue League')
elif page_view >= 10000 :
    print('Black League')
else:
    print('Red League')

조회수를 입력하세요 : 10
Red League

In [17]:
# 순회 가능 변수에 대한 설명이며 이는 문자열str은 가능하지만 정수열int는 불가능하다.
# 순회 가능한 문자열은 ste, list, tuple, set, dict 등이 있다.
# 반복문에서 변수를 i를 많이 쓰는 이유는 iterate의 약자라서 그렇다.. 반복하다.
for i in '123456789' :
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
for 반복변수 in [1, 2, 3] :
    print(반복변수)

1
2
3

In [19]:
a = range(10)
a = list(a)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
people = ['갑을병', '정무기', '경신임', '계자축']
for i in range(4):
    print(str(i+1)+'번째 손님 : ', people[i])

1번째 손님 :  갑을병
2번째 손님 :  정무기
3번째 손님 :  경신임
4번째 손님 :  계자축

In [21]:
i = 3
while i:
    print(i)
    i = i -1

3
2
1

In [32]:
# 구구단 만들기 프로그램
# 단을 입력하면 해당 단을 계산해서 print하는 구조로 만든다.
# range는 시작점 이상, 끝점 미만 순서라 1,10으로 할 경우 1~9까지 입력 가능
# for로 만들 경우

n = int(input('계산할 단을 입력하세요 : '))
for i in range(1, 10) :
    print(n, 'x', i, '=', n*i)

계산할 단을 입력하세요 : 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

In [33]:
# 구구단 만들기 프로그램
# 이번에는 for가 아니라 while을 쓰는 방법으로 해야한다.

n = int(input('계산할 단을 입력하세요 : '))
i = 1
while i < 10:
    print(n, 'x', i, '=', n*i)
    i = i+1

계산할 단을 입력하세요 : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [41]:
# 카운트 다운 프로그램을 만들어
# 입력한 숫자부터 카운트다운하여 0까지 되어야 한다.

n = int(input('카운트다운 숫자를 넣으세요 : '))
for i in range(n, -1, -1):
    print(i)

카운트다운 숫자를 넣으세요 : 5
5
4
3
2
1
0

In [40]:
# 카운트 다운 프로그램을 만들어 보자.
# 이번에는 while을 한 번 써보자
# while을 쓸 때엔 한계점? 걸리는 지점? 리밋지점?을 기준으로 생각하는게 더 빠른거 같다.

n = int(input('카운트다운 숫자를 넣으세요 : '))
i = n
while i >= 0:
    print(i)
    i = i-1

카운트다운 숫자를 넣으세요 : 5
5
4
3
2
1
0

In [44]:
#출력 : 숫자, 입력받은 것과 역순으로
#입력 : 숫자의 개수와 여러 가지 숫자

n = int(input('몇 개? : '))
numbers = []
for i in range(1, n+1):
    x = input('숫자' +str(i)+':')
    numbers = numbers + [x]
# 지금 상황에서 i의 값은 5인 상태
for i in range(n-1, -1, -1):
# 5부터 까고 내려가서 4,3,2,1,0이 되는건데 이 순서가 리스트[]의 역순 출력인 상황
    print(numbers[i])

몇 개? : 5
숫자1:9
숫자2:8
숫자3:7
숫자4:6
숫자5:5
5
6
7
8
9

In [45]:
#위의 역산을 while로 전환한게 아래의 내용
n = int(input('몇 개? : '))
numbers = []
i = 1
while i <= n:
    x = input('숫자'+str(i)+':')
    numbers = numbers + [x]
    i = i+1
i = n-1
while i >= 0:
    print(numbers[i])
    i = i-1

몇 개? : 5
숫자1:9
숫자2:8
숫자3:7
숫자4:6
숫자5:5
5
6
7
8
9

In [46]:
# 입력된 숫자와 해당 값으로 평균을 출력하는 프로그램을 만들어라

n = int(input('인원 수를 넣으세요 : '))
age_sum = 0
for i in range(1, n+1):
    age = int(input('인원'+str(i)+':'))
    age_sum = age_sum + age
print("평균 : ", age_sum/n)

인원 수를 넣으세요 : 5
인원1:1
인원2:2
인원3:3
인원4:4
인원5:5
평균 :  3.0

In [47]:
n = int(input('인원 수를 넣으세요 : '))
age_sum = 0
i = 1
while i <= n :
    age = int(input('인원'+str(i)+':'))
    age_sum = age_sum + age
    i = i + 1
print("평균 : ", age_sum/n)

인원 수를 넣으세요 : 5
인원1:1
인원2:2
인원3:3
인원4:4
인원5:5
평균 :  3.0

In [50]:
asset = 0
while 1:
    income = input('이번 달 수익(종료하려면 x를 입력): ')    #income : 소득
    if income == 'x':
        break
    asset = asset + int(income)
    print('현재 자산 : ', asset)

이번 달 수익(종료하려면 x를 입력): 150
현재 자산 :  150
이번 달 수익(종료하려면 x를 입력): 200
현재 자산 :  350
이번 달 수익(종료하려면 x를 입력): 400
현재 자산 :  750
이번 달 수익(종료하려면 x를 입력): -100
현재 자산 :  650
이번 달 수익(종료하려면 x를 입력): -500
현재 자산 :  150
이번 달 수익(종료하려면 x를 입력): -500
현재 자산 :  -350
이번 달 수익(종료하려면 x를 입력): ㅌ

ValueError: invalid literal for int() with base 10: 'ㅌ'

In [51]:
asset = 0
while 1:
    income = input('이번 달 수익(종료하려면 x를 입력): ')
    if income == 'x':
        break
    if int(income) < 0: # 음수를 넣었을 때, 무시하고 다시 진행하는 내용
        continue
    asset = asset + int(income)
    print('현재 자산 :', asset)

이번 달 수익(종료하려면 x를 입력): 500
현재 자산 : 500
이번 달 수익(종료하려면 x를 입력): 900
현재 자산 : 1400
이번 달 수익(종료하려면 x를 입력): -1000
이번 달 수익(종료하려면 x를 입력): -900
이번 달 수익(종료하려면 x를 입력): 100
현재 자산 : 1500
이번 달 수익(종료하려면 x를 입력): x

In [52]:
for i in range(100):
    if i == 50:                   # 범위는 99까지지만 50일 때, break가 걸린다.
        break
    if i % 2 == 0:
        continue                  # i가 짝수라면, 여기서 다시 for가 있는 곳으로 올라간다.
    print(i)                      #따라서 이 print는 i가 짝수라면 수행되지 못한다.

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [58]:
# 구구단의 기본으로 중첩 반복문의 기본
for i in range(1, 10):
    for j in range(1, 10):
        print(i, 'x', j, '=', i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [59]:
# 출력 = 입력
# 종료 조건 = 뗵
while True:
    sentence = input()  # sentence : 문장
    if sentence == '떽':
        print('메롱~')
        break
    print(sentence)

야
야
왜
왜
따라하지마!
따라하지마!
뗵
뗵
떽
메롱~

In [ ]:
# 입력된 문장의 인덱스의 -1로 뒤 쪽부터 접근하는 방법은 이해했음
# 이걸 기억하지 못해서 발생한 것이긴한데

while True : 
    sentence = input() # 문장 입력
    if sentence[-1] == '.' or sentence[-1] == '!' or sentence[-1] == '?': # 입력된 문장의 마지막이 특수 문자일 경우
        if sentence[-2] == '요':                                          # 특수 문자 앞의 문자가 요로 끝나는지 확인
            print('히-히히히!')
            break
        else :
            print(sentence[-2]+'?')                                       # 특수 문자 앞 -2의 내용에 ?를 더하는 내용
    else:
        if sentence[-1] == '요':
            print('히-히히히!')
            break
        else:
            print(sentence[-1]+'?')

In [ ]:
# 출력 : 없음
# 입력 : 주소

not_mine = ['용인시', '둔산동', '번동', '장안구', '온천동', '구로구', '군포시']
address_list = []

while True :
    address = input('주소 : ')
    check = False
    for i in not_mine:                     #not_mine 리스트에 있는것들 중 하나라도
        if i in address:                   #입력받은 값에 포함되어 있으면
            check = True                   #check 변수를 False에서 True로 바꾼다.
    if check :
        continue
    address_list += [address]
    
    #이건 동작하는 내용이 아니다.

In [2]:
for i in range(1, 100):
    if i % 2 == 0 or i % 3 == 0 or i % 7 != 0: # 2의 배수, 3의 배수이면서 7의 배수가 아닌 것
        continue                               # 14는 2의 배수가 되고 21은 3의 배수가 된다. 문제 자체가 2나 3의 배수도 아니어야함
    else:
        print(i)

7
35
49
77
91

In [4]:
for i in range(1, 100): 
    if i % 7 != 0: # 2의배수, 3의배수도 되면서 7의 배수도 되는 것을 하면 이런식이 된다.
        continue
    else:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [5]:
# 출력 : 구구단 중 한 단
# 입력 단 수 (반복)

while True : 
    n = input('몇 단? : ')
    if n == 'x' :
        break
    else : 
        n = int(n)
        for i in range(1, 10):
            print(n, 'x', i, '=', n*i)

몇 단? : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
몇 단? : x

In [6]:
# 출력 : 구구구단을 만들자.
# 입력은 결국 단수이고 1 ~ 10이다.

while True : 
    n = input('첫 번째 단? : ')
    m = input('두 번째 단? : ')
    if n == 'x' or m == 'x':
        break
    else :
        n = int(n)
        m = int(m)
        for i in range(1, 10):
            print(n, 'x', m, 'x', i, '=', n*m*i)

첫 번째 단? : x
두 번째 단? : x

In [2]:
for i in range(1, 100):
    if i % 2 != 0 and i % 3 !=0 and i % 7 == 0:
        print(i)

7
35
49
77
91

In [1]:
for i in range(1, 10):
    for j in range(1, 10):
        for k in range(1, 10):
            print(i, 'x', j, 'x', k, '=', i*j*k)

1 x 1 x 1 = 1
1 x 1 x 2 = 2
1 x 1 x 3 = 3
1 x 1 x 4 = 4
1 x 1 x 5 = 5
1 x 1 x 6 = 6
1 x 1 x 7 = 7
1 x 1 x 8 = 8
1 x 1 x 9 = 9
1 x 2 x 1 = 2
1 x 2 x 2 = 4
1 x 2 x 3 = 6
1 x 2 x 4 = 8
1 x 2 x 5 = 10
1 x 2 x 6 = 12
1 x 2 x 7 = 14
1 x 2 x 8 = 16
1 x 2 x 9 = 18
1 x 3 x 1 = 3
1 x 3 x 2 = 6
1 x 3 x 3 = 9
1 x 3 x 4 = 12
1 x 3 x 5 = 15
1 x 3 x 6 = 18
1 x 3 x 7 = 21
1 x 3 x 8 = 24
1 x 3 x 9 = 27
1 x 4 x 1 = 4
1 x 4 x 2 = 8
1 x 4 x 3 = 12
1 x 4 x 4 = 16
1 x 4 x 5 = 20
1 x 4 x 6 = 24
1 x 4 x 7 = 28
1 x 4 x 8 = 32
1 x 4 x 9 = 36
1 x 5 x 1 = 5
1 x 5 x 2 = 10
1 x 5 x 3 = 15
1 x 5 x 4 = 20
1 x 5 x 5 = 25
1 x 5 x 6 = 30
1 x 5 x 7 = 35
1 x 5 x 8 = 40
1 x 5 x 9 = 45
1 x 6 x 1 = 6
1 x 6 x 2 = 12
1 x 6 x 3 = 18
1 x 6 x 4 = 24
1 x 6 x 5 = 30
1 x 6 x 6 = 36
1 x 6 x 7 = 42
1 x 6 x 8 = 48
1 x 6 x 9 = 54
1 x 7 x 1 = 7
1 x 7 x 2 = 14
1 x 7 x 3 = 21
1 x 7 x 4 = 28
1 x 7 x 5 = 35
1 x 7 x 6 = 42
1 x 7 x 7 = 49
1 x 7 x 8 = 56
1 x 7 x 9 = 63
1 x 8 x 1 = 8
1 x 8 x 2 = 16
1 x 8 x 3 = 24
1 x 8 x 4 = 32
1 x 8 x 5 = 40
1 x 8 x 6 = 48
1 x 8 x 7 = 56
1 x 8 x 8 = 64
1 x 8 x 9 = 72
1 x 9 x 1 = 9
1 x 9 x 2 = 18
1 x 9 x 3 = 27
1 x 9 x 4 = 36
1 x 9 x 5 = 45
1 x 9 x 6 = 54
1 x 9 x 7 = 63
1 x 9 x 8 = 72
1 x 9 x 9 = 81
2 x 1 x 1 = 2
2 x 1 x 2 = 4
2 x 1 x 3 = 6
2 x 1 x 4 = 8
2 x 1 x 5 = 10
2 x 1 x 6 = 12
2 x 1 x 7 = 14
2 x 1 x 8 = 16
2 x 1 x 9 = 18
2 x 2 x 1 = 4
2 x 2 x 2 = 8
2 x 2 x 3 = 12
2 x 2 x 4 = 16
2 x 2 x 5 = 20
2 x 2 x 6 = 24
2 x 2 x 7 = 28
2 x 2 x 8 = 32
2 x 2 x 9 = 36
2 x 3 x 1 = 6
2 x 3 x 2 = 12
2 x 3 x 3 = 18
2 x 3 x 4 = 24
2 x 3 x 5 = 30
2 x 3 x 6 = 36
2 x 3 x 7 = 42
2 x 3 x 8 = 48
2 x 3 x 9 = 54
2 x 4 x 1 = 8
2 x 4 x 2 = 16
2 x 4 x 3 = 24
2 x 4 x 4 = 32
2 x 4 x 5 = 40
2 x 4 x 6 = 48
2 x 4 x 7 = 56
2 x 4 x 8 = 64
2 x 4 x 9 = 72
2 x 5 x 1 = 10
2 x 5 x 2 = 20
2 x 5 x 3 = 30
2 x 5 x 4 = 40
2 x 5 x 5 = 50
2 x 5 x 6 = 60
2 x 5 x 7 = 70
2 x 5 x 8 = 80
2 x 5 x 9 = 90
2 x 6 x 1 = 12
2 x 6 x 2 = 24
2 x 6 x 3 = 36
2 x 6 x 4 = 48
2 x 6 x 5 = 60
2 x 6 x 6 = 72
2 x 6 x 7 = 84
2 x 6 x 8 = 96
2 x 6 x 9 = 108
2 x 7 x 1 = 14
2 x 7 x 2 = 28
2 x 7 x 3 = 42
2 x 7 x 4 = 56
2 x 7 x 5 = 70
2 x 7 x 6 = 84
2 x 7 x 7 = 98
2 x 7 x 8 = 112
2 x 7 x 9 = 126
2 x 8 x 1 = 16
2 x 8 x 2 = 32
2 x 8 x 3 = 48
2 x 8 x 4 = 64
2 x 8 x 5 = 80
2 x 8 x 6 = 96
2 x 8 x 7 = 112
2 x 8 x 8 = 128
2 x 8 x 9 = 144
2 x 9 x 1 = 18
2 x 9 x 2 = 36
2 x 9 x 3 = 54
2 x 9 x 4 = 72
2 x 9 x 5 = 90
2 x 9 x 6 = 108
2 x 9 x 7 = 126
2 x 9 x 8 = 144
2 x 9 x 9 = 162
3 x 1 x 1 = 3
3 x 1 x 2 = 6
3 x 1 x 3 = 9
3 x 1 x 4 = 12
3 x 1 x 5 = 15
3 x 1 x 6 = 18
3 x 1 x 7 = 21
3 x 1 x 8 = 24
3 x 1 x 9 = 27
3 x 2 x 1 = 6
3 x 2 x 2 = 12
3 x 2 x 3 = 18
3 x 2 x 4 = 24
3 x 2 x 5 = 30
3 x 2 x 6 = 36
3 x 2 x 7 = 42
3 x 2 x 8 = 48
3 x 2 x 9 = 54
3 x 3 x 1 = 9
3 x 3 x 2 = 18
3 x 3 x 3 = 27
3 x 3 x 4 = 36
3 x 3 x 5 = 45
3 x 3 x 6 = 54
3 x 3 x 7 = 63
3 x 3 x 8 = 72
3 x 3 x 9 = 81
3 x 4 x 1 = 12
3 x 4 x 2 = 24
3 x 4 x 3 = 36
3 x 4 x 4 = 48
3 x 4 x 5 = 60
3 x 4 x 6 = 72
3 x 4 x 7 = 84
3 x 4 x 8 = 96
3 x 4 x 9 = 108
3 x 5 x 1 = 15
3 x 5 x 2 = 30
3 x 5 x 3 = 45
3 x 5 x 4 = 60
3 x 5 x 5 = 75
3 x 5 x 6 = 90
3 x 5 x 7 = 105
3 x 5 x 8 = 120
3 x 5 x 9 = 135
3 x 6 x 1 = 18
3 x 6 x 2 = 36
3 x 6 x 3 = 54
3 x 6 x 4 = 72
3 x 6 x 5 = 90
3 x 6 x 6 = 108
3 x 6 x 7 = 126
3 x 6 x 8 = 144
3 x 6 x 9 = 162
3 x 7 x 1 = 21
3 x 7 x 2 = 42
3 x 7 x 3 = 63
3 x 7 x 4 = 84
3 x 7 x 5 = 105
3 x 7 x 6 = 126
3 x 7 x 7 = 147
3 x 7 x 8 = 168
3 x 7 x 9 = 189
3 x 8 x 1 = 24
3 x 8 x 2 = 48
3 x 8 x 3 = 72
3 x 8 x 4 = 96
3 x 8 x 5 = 120
3 x 8 x 6 = 144
3 x 8 x 7 = 168
3 x 8 x 8 = 192
3 x 8 x 9 = 216
3 x 9 x 1 = 27
3 x 9 x 2 = 54
3 x 9 x 3 = 81
3 x 9 x 4 = 108
3 x 9 x 5 = 135
3 x 9 x 6 = 162
3 x 9 x 7 = 189
3 x 9 x 8 = 216
3 x 9 x 9 = 243
4 x 1 x 1 = 4
4 x 1 x 2 = 8
4 x 1 x 3 = 12
4 x 1 x 4 = 16
4 x 1 x 5 = 20
4 x 1 x 6 = 24
4 x 1 x 7 = 28
4 x 1 x 8 = 32
4 x 1 x 9 = 36
4 x 2 x 1 = 8
4 x 2 x 2 = 16
4 x 2 x 3 = 24
4 x 2 x 4 = 32
4 x 2 x 5 = 40
4 x 2 x 6 = 48
4 x 2 x 7 = 56
4 x 2 x 8 = 64
4 x 2 x 9 = 72
4 x 3 x 1 = 12
4 x 3 x 2 = 24
4 x 3 x 3 = 36
4 x 3 x 4 = 48
4 x 3 x 5 = 60
4 x 3 x 6 = 72
4 x 3 x 7 = 84
4 x 3 x 8 = 96
4 x 3 x 9 = 108
4 x 4 x 1 = 16
4 x 4 x 2 = 32
4 x 4 x 3 = 48
4 x 4 x 4 = 64
4 x 4 x 5 = 80
4 x 4 x 6 = 96
4 x 4 x 7 = 112
4 x 4 x 8 = 128
4 x 4 x 9 = 144
4 x 5 x 1 = 20
4 x 5 x 2 = 40
4 x 5 x 3 = 60
4 x 5 x 4 = 80
4 x 5 x 5 = 100
4 x 5 x 6 = 120
4 x 5 x 7 = 140
4 x 5 x 8 = 160
4 x 5 x 9 = 180
4 x 6 x 1 = 24
4 x 6 x 2 = 48
4 x 6 x 3 = 72
4 x 6 x 4 = 96
4 x 6 x 5 = 120
4 x 6 x 6 = 144
4 x 6 x 7 = 168
4 x 6 x 8 = 192
4 x 6 x 9 = 216
4 x 7 x 1 = 28
4 x 7 x 2 = 56
4 x 7 x 3 = 84
4 x 7 x 4 = 112
4 x 7 x 5 = 140
4 x 7 x 6 = 168
4 x 7 x 7 = 196
4 x 7 x 8 = 224
4 x 7 x 9 = 252
4 x 8 x 1 = 32
4 x 8 x 2 = 64
4 x 8 x 3 = 96
4 x 8 x 4 = 128
4 x 8 x 5 = 160
4 x 8 x 6 = 192
4 x 8 x 7 = 224
4 x 8 x 8 = 256
4 x 8 x 9 = 288
4 x 9 x 1 = 36
4 x 9 x 2 = 72
4 x 9 x 3 = 108
4 x 9 x 4 = 144
4 x 9 x 5 = 180
4 x 9 x 6 = 216
4 x 9 x 7 = 252
4 x 9 x 8 = 288
4 x 9 x 9 = 324
5 x 1 x 1 = 5
5 x 1 x 2 = 10
5 x 1 x 3 = 15
5 x 1 x 4 = 20
5 x 1 x 5 = 25
5 x 1 x 6 = 30
5 x 1 x 7 = 35
5 x 1 x 8 = 40
5 x 1 x 9 = 45
5 x 2 x 1 = 10
5 x 2 x 2 = 20
5 x 2 x 3 = 30
5 x 2 x 4 = 40
5 x 2 x 5 = 50
5 x 2 x 6 = 60
5 x 2 x 7 = 70
5 x 2 x 8 = 80
5 x 2 x 9 = 90
5 x 3 x 1 = 15
5 x 3 x 2 = 30
5 x 3 x 3 = 45
5 x 3 x 4 = 60
5 x 3 x 5 = 75
5 x 3 x 6 = 90
5 x 3 x 7 = 105
5 x 3 x 8 = 120
5 x 3 x 9 = 135
5 x 4 x 1 = 20
5 x 4 x 2 = 40
5 x 4 x 3 = 60
5 x 4 x 4 = 80
5 x 4 x 5 = 100
5 x 4 x 6 = 120
5 x 4 x 7 = 140
5 x 4 x 8 = 160
5 x 4 x 9 = 180
5 x 5 x 1 = 25
5 x 5 x 2 = 50
5 x 5 x 3 = 75
5 x 5 x 4 = 100
5 x 5 x 5 = 125
5 x 5 x 6 = 150
5 x 5 x 7 = 175
5 x 5 x 8 = 200
5 x 5 x 9 = 225
5 x 6 x 1 = 30
5 x 6 x 2 = 60
5 x 6 x 3 = 90
5 x 6 x 4 = 120
5 x 6 x 5 = 150
5 x 6 x 6 = 180
5 x 6 x 7 = 210
5 x 6 x 8 = 240
5 x 6 x 9 = 270
5 x 7 x 1 = 35
5 x 7 x 2 = 70
5 x 7 x 3 = 105
5 x 7 x 4 = 140
5 x 7 x 5 = 175
5 x 7 x 6 = 210
5 x 7 x 7 = 245
5 x 7 x 8 = 280
5 x 7 x 9 = 315
5 x 8 x 1 = 40
5 x 8 x 2 = 80
5 x 8 x 3 = 120
5 x 8 x 4 = 160
5 x 8 x 5 = 200
5 x 8 x 6 = 240
5 x 8 x 7 = 280
5 x 8 x 8 = 320
5 x 8 x 9 = 360
5 x 9 x 1 = 45
5 x 9 x 2 = 90
5 x 9 x 3 = 135
5 x 9 x 4 = 180
5 x 9 x 5 = 225
5 x 9 x 6 = 270
5 x 9 x 7 = 315
5 x 9 x 8 = 360
5 x 9 x 9 = 405
6 x 1 x 1 = 6
6 x 1 x 2 = 12
6 x 1 x 3 = 18
6 x 1 x 4 = 24
6 x 1 x 5 = 30
6 x 1 x 6 = 36
6 x 1 x 7 = 42
6 x 1 x 8 = 48
6 x 1 x 9 = 54
6 x 2 x 1 = 12
6 x 2 x 2 = 24
6 x 2 x 3 = 36
6 x 2 x 4 = 48
6 x 2 x 5 = 60
6 x 2 x 6 = 72
6 x 2 x 7 = 84
6 x 2 x 8 = 96
6 x 2 x 9 = 108
6 x 3 x 1 = 18
6 x 3 x 2 = 36
6 x 3 x 3 = 54
6 x 3 x 4 = 72
6 x 3 x 5 = 90
6 x 3 x 6 = 108
6 x 3 x 7 = 126
6 x 3 x 8 = 144
6 x 3 x 9 = 162
6 x 4 x 1 = 24
6 x 4 x 2 = 48
6 x 4 x 3 = 72
6 x 4 x 4 = 96
6 x 4 x 5 = 120
6 x 4 x 6 = 144
6 x 4 x 7 = 168
6 x 4 x 8 = 192
6 x 4 x 9 = 216
6 x 5 x 1 = 30
6 x 5 x 2 = 60
6 x 5 x 3 = 90
6 x 5 x 4 = 120
6 x 5 x 5 = 150
6 x 5 x 6 = 180
6 x 5 x 7 = 210
6 x 5 x 8 = 240
6 x 5 x 9 = 270
6 x 6 x 1 = 36
6 x 6 x 2 = 72
6 x 6 x 3 = 108
6 x 6 x 4 = 144
6 x 6 x 5 = 180
6 x 6 x 6 = 216
6 x 6 x 7 = 252
6 x 6 x 8 = 288
6 x 6 x 9 = 324
6 x 7 x 1 = 42
6 x 7 x 2 = 84
6 x 7 x 3 = 126
6 x 7 x 4 = 168
6 x 7 x 5 = 210
6 x 7 x 6 = 252
6 x 7 x 7 = 294
6 x 7 x 8 = 336
6 x 7 x 9 = 378
6 x 8 x 1 = 48
6 x 8 x 2 = 96
6 x 8 x 3 = 144
6 x 8 x 4 = 192
6 x 8 x 5 = 240
6 x 8 x 6 = 288
6 x 8 x 7 = 336
6 x 8 x 8 = 384
6 x 8 x 9 = 432
6 x 9 x 1 = 54
6 x 9 x 2 = 108
6 x 9 x 3 = 162
6 x 9 x 4 = 216
6 x 9 x 5 = 270
6 x 9 x 6 = 324
6 x 9 x 7 = 378
6 x 9 x 8 = 432
6 x 9 x 9 = 486
7 x 1 x 1 = 7
7 x 1 x 2 = 14
7 x 1 x 3 = 21
7 x 1 x 4 = 28
7 x 1 x 5 = 35
7 x 1 x 6 = 42
7 x 1 x 7 = 49
7 x 1 x 8 = 56
7 x 1 x 9 = 63
7 x 2 x 1 = 14
7 x 2 x 2 = 28
7 x 2 x 3 = 42
7 x 2 x 4 = 56
7 x 2 x 5 = 70
7 x 2 x 6 = 84
7 x 2 x 7 = 98
7 x 2 x 8 = 112
7 x 2 x 9 = 126
7 x 3 x 1 = 21
7 x 3 x 2 = 42
7 x 3 x 3 = 63
7 x 3 x 4 = 84
7 x 3 x 5 = 105
7 x 3 x 6 = 126
7 x 3 x 7 = 147
7 x 3 x 8 = 168
7 x 3 x 9 = 189
7 x 4 x 1 = 28
7 x 4 x 2 = 56
7 x 4 x 3 = 84
7 x 4 x 4 = 112
7 x 4 x 5 = 140
7 x 4 x 6 = 168
7 x 4 x 7 = 196
7 x 4 x 8 = 224
7 x 4 x 9 = 252
7 x 5 x 1 = 35
7 x 5 x 2 = 70
7 x 5 x 3 = 105
7 x 5 x 4 = 140
7 x 5 x 5 = 175
7 x 5 x 6 = 210
7 x 5 x 7 = 245
7 x 5 x 8 = 280
7 x 5 x 9 = 315
7 x 6 x 1 = 42
7 x 6 x 2 = 84
7 x 6 x 3 = 126
7 x 6 x 4 = 168
7 x 6 x 5 = 210
7 x 6 x 6 = 252
7 x 6 x 7 = 294
7 x 6 x 8 = 336
7 x 6 x 9 = 378
7 x 7 x 1 = 49
7 x 7 x 2 = 98
7 x 7 x 3 = 147
7 x 7 x 4 = 196
7 x 7 x 5 = 245
7 x 7 x 6 = 294
7 x 7 x 7 = 343
7 x 7 x 8 = 392
7 x 7 x 9 = 441
7 x 8 x 1 = 56
7 x 8 x 2 = 112
7 x 8 x 3 = 168
7 x 8 x 4 = 224
7 x 8 x 5 = 280
7 x 8 x 6 = 336
7 x 8 x 7 = 392
7 x 8 x 8 = 448
7 x 8 x 9 = 504
7 x 9 x 1 = 63
7 x 9 x 2 = 126
7 x 9 x 3 = 189
7 x 9 x 4 = 252
7 x 9 x 5 = 315
7 x 9 x 6 = 378
7 x 9 x 7 = 441
7 x 9 x 8 = 504
7 x 9 x 9 = 567
8 x 1 x 1 = 8
8 x 1 x 2 = 16
8 x 1 x 3 = 24
8 x 1 x 4 = 32
8 x 1 x 5 = 40
8 x 1 x 6 = 48
8 x 1 x 7 = 56
8 x 1 x 8 = 64
8 x 1 x 9 = 72
8 x 2 x 1 = 16
8 x 2 x 2 = 32
8 x 2 x 3 = 48
8 x 2 x 4 = 64
8 x 2 x 5 = 80
8 x 2 x 6 = 96
8 x 2 x 7 = 112
8 x 2 x 8 = 128
8 x 2 x 9 = 144
8 x 3 x 1 = 24
8 x 3 x 2 = 48
8 x 3 x 3 = 72
8 x 3 x 4 = 96
8 x 3 x 5 = 120
8 x 3 x 6 = 144

8 x 3 x 7 = 168
8 x 3 x 8 = 192
8 x 3 x 9 = 216
8 x 4 x 1 = 32
8 x 4 x 2 = 64
8 x 4 x 3 = 96
8 x 4 x 4 = 128
8 x 4 x 5 = 160
8 x 4 x 6 = 192
8 x 4 x 7 = 224
8 x 4 x 8 = 256
8 x 4 x 9 = 288
8 x 5 x 1 = 40
8 x 5 x 2 = 80
8 x 5 x 3 = 120
8 x 5 x 4 = 160
8 x 5 x 5 = 200
8 x 5 x 6 = 240
8 x 5 x 7 = 280
8 x 5 x 8 = 320
8 x 5 x 9 = 360
8 x 6 x 1 = 48
8 x 6 x 2 = 96
8 x 6 x 3 = 144
8 x 6 x 4 = 192
8 x 6 x 5 = 240
8 x 6 x 6 = 288
8 x 6 x 7 = 336
8 x 6 x 8 = 384
8 x 6 x 9 = 432
8 x 7 x 1 = 56
8 x 7 x 2 = 112
8 x 7 x 3 = 168
8 x 7 x 4 = 224
8 x 7 x 5 = 280
8 x 7 x 6 = 336
8 x 7 x 7 = 392
8 x 7 x 8 = 448
8 x 7 x 9 = 504
8 x 8 x 1 = 64
8 x 8 x 2 = 128
8 x 8 x 3 = 192
8 x 8 x 4 = 256
8 x 8 x 5 = 320
8 x 8 x 6 = 384
8 x 8 x 7 = 448
8 x 8 x 8 = 512
8 x 8 x 9 = 576
8 x 9 x 1 = 72
8 x 9 x 2 = 144
8 x 9 x 3 = 216
8 x 9 x 4 = 288
8 x 9 x 5 = 360
8 x 9 x 6 = 432
8 x 9 x 7 = 504
8 x 9 x 8 = 576
8 x 9 x 9 = 648
9 x 1 x 1 = 9
9 x 1 x 2 = 18
9 x 1 x 3 = 27
9 x 1 x 4 = 36
9 x 1 x 5 = 45
9 x 1 x 6 = 54
9 x 1 x 7 = 63
9 x 1 x 8 = 72
9 x 1 x 9 = 81
9 x 2 x 1 = 18
9 x 2 x 2 = 36
9 x 2 x 3 = 54
9 x 2 x 4 = 72
9 x 2 x 5 = 90
9 x 2 x 6 = 108
9 x 2 x 7 = 126
9 x 2 x 8 = 144
9 x 2 x 9 = 162
9 x 3 x 1 = 27
9 x 3 x 2 = 54
9 x 3 x 3 = 81
9 x 3 x 4 = 108
9 x 3 x 5 = 135
9 x 3 x 6 = 162
9 x 3 x 7 = 189
9 x 3 x 8 = 216
9 x 3 x 9 = 243
9 x 4 x 1 = 36
9 x 4 x 2 = 72
9 x 4 x 3 = 108
9 x 4 x 4 = 144
9 x 4 x 5 = 180
9 x 4 x 6 = 216
9 x 4 x 7 = 252
9 x 4 x 8 = 288
9 x 4 x 9 = 324
9 x 5 x 1 = 45
9 x 5 x 2 = 90
9 x 5 x 3 = 135
9 x 5 x 4 = 180
9 x 5 x 5 = 225
9 x 5 x 6 = 270
9 x 5 x 7 = 315
9 x 5 x 8 = 360
9 x 5 x 9 = 405
9 x 6 x 1 = 54
9 x 6 x 2 = 108
9 x 6 x 3 = 162
9 x 6 x 4 = 216
9 x 6 x 5 = 270
9 x 6 x 6 = 324
9 x 6 x 7 = 378
9 x 6 x 8 = 432
9 x 6 x 9 = 486
9 x 7 x 1 = 63
9 x 7 x 2 = 126
9 x 7 x 3 = 189
9 x 7 x 4 = 252
9 x 7 x 5 = 315
9 x 7 x 6 = 378
9 x 7 x 7 = 441
9 x 7 x 8 = 504
9 x 7 x 9 = 567
9 x 8 x 1 = 72
9 x 8 x 2 = 144
9 x 8 x 3 = 216
9 x 8 x 4 = 288
9 x 8 x 5 = 360
9 x 8 x 6 = 432
9 x 8 x 7 = 504
9 x 8 x 8 = 576
9 x 8 x 9 = 648
9 x 9 x 1 = 81
9 x 9 x 2 = 162
9 x 9 x 3 = 243
9 x 9 x 4 = 324
9 x 9 x 5 = 405
9 x 9 x 6 = 486
9 x 9 x 7 = 567
9 x 9 x 8 = 648
9 x 9 x 9 = 729

In [8]:
# 출력 : 학점 (영문 형태의 등급)
# 입력 : 0이상 100이하의 시험 점수

# 약속 (함수 정의)

def get_score():
    score = int(input('점수를 입력하세요 : '))
    return score

def grading(score):
    if score >= 98:
        return 'A'
    elif score >= 95:
        return 'B'
    elif score >= 90:
        return 'C'
    else:
        return 'F'

# 명령(함수호출)
score = get_score()           # 프로그램 전체의 input
grade = grading(score)        # 프로그램 전체의 process
print(grade)                  # 프로그램 전체의 output

점수를 입력하세요 : 90
C

In [9]:

def rectangle(x, y):
    return x*y

a = int(input('가로 길이 : '))
b = int(input('세로 길이 : '))
s = str(rectangle(a, b))       #아래 print에서 바로 s로 출력했으니 여기서 미리 str로 감싸 준 것
print('넓이는', s+'입니다.')

가로 길이 : 10
세로 길이 : 9
넓이는 90입니다.

In [11]:
# 출력 : 삼각형 넓이
# 입력 : 삼각형의 밑변과 높이

def triangle(b, h):
    return 0.5*b*h

x = int(input('밑변 : '))
y = int(input('높이 : '))
s = triangle(x, y)          #위와 비교했을 때, 여기서는 print 때 str(s)로 했으니까 굳이..
print('넓이는', str(s)+'입니다.')

밑변 : 5
높이 : 10
넓이는 25.0입니다.

In [12]:
def func1(a):
    a = 999
    
a = 10
func1(a)
print(a)

10

In [13]:
def func2(b):
    b[0] = 999

b = [10]
func2(b)
print(b[0])

999

In [15]:
# 출력 : 직사각형 넓이
# 입력 : 직사각형 가로 세로

def rectangle(x, y):
    print(x*y)
    
a = int(input('가로 길이 : '))
b = int(input('/ : '))
rectangle(a, b)

가로 길이 : 10
/ : 5
50

In [18]:

def day():
    return '그대의 근로는 태양보다도 밝다.'

def night():
    return '아름다운 서울의 야경, 당신은 하나의 별이다.'
    
time = int(input('현재시각(0 ~ 24)을 입력해주세요 : '))
if 8 <= time <= 17:
    phrase = day()
else:
    phrase = night()
print(phrase)

현재시각(0 ~ 24)을 입력해주세요 : 24
아름다운 서울의 야경, 당신은 하나의 별이다.

In [20]:
def reverse():
    name = input('이름을 입력하세요 : ')
    print(name[-1]+name[-2]+name[-3])

reverse()

이름을 입력하세요 : 조현천
천현조

In [1]:
a= ['갑', '을', '병']
for (i, 내용) in enumerate(a):             #내용은 어디서 나온거지? 진짜 이해가 안되네 
    print(i, 내용)                         #일단 변수의 인덱스와 내용물을 튜플 형태로 반환한거 같긴한데;; '내용'이라고 써도 되나?

0 갑
1 을
2 병

In [2]:
a = 'print(5**2)'    #문자열 자체를 파이썬 코드로 인식하게 해주는 함수.
eval(a)              #덕분에 인쇄와 인쇄 내 제곱까지 처리

25

In [3]:
pow(2, 5)  #a의 b제곱을 반환한다. a**b와 같다

32

In [4]:
ord('아')

chr(50500)

'아'

In [6]:
round(4.123456789, 3)

4.123

In [8]:
# class에 포함된 함수를 mothod라고 생각하면 된다.

저자 = '거짓말쟁이'
type(저자)

dir(저자) # 문자열 class str에 대한 feild와 method

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']